.jumbotron {
    height: 300px;
    color: rgb(46, 253, 5);
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    text-shadow: rgb(255, 16, 155);
    offset: 50%;
}