.form-group {
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 15px;
}

.btn-primary {
    color: white;
    background-color: rgb(236, 102, 12);
    border: none;
    box-shadow: black; 
}

.btn-primary:hover {
    color:  #33ff00;
    background-color: #dee2e6;
    cursor: pointer;
  }
