.table-responsive {
    height:550px;  
    width:100%;
    overflow:scroll;
  }
  
   thead tr:nth-child(1) th{
      background: white;
      position: sticky;
      border-color: grey;
      border: 6px;
      top: 0;
      z-index: 15;
    }
  
    .downArrow {
      width: 0;
      height: 10;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      cursor: pointer; 
      border-top: 15px solid rgb(223, 126, 0);
      margin-top: 55px;
      position: relative;
      top: 15px;
      left: 10px;
  }